# GA2 - individual queries - Carson Leavitt
  - Three queries (one query can satisfy one or more of the conditions)
    - At least one includes two or more tables (via join or relationship) 
    - At least one with parameterized input
    - At least one which includes aggregated data (group by or single aggregation)
    - These queries should be included in the repository.  Defining what these queries do will be helpful in the README.md or other *markdown* documentation as appropriate to your repository.
  - GitHub history of commits will be used as evidence of individual work.

In [2]:
import sqlite3
import pandas as pd
from pathlib import Path

# define a function to run a query and return a dataframe, closing the connection when done

def run_query(query, db_file, params=None):
    with sqlite3.connect(db_file) as cnn:
        return pd.read_sql(query, cnn, params=params)

In [3]:
# specify the database file
data_folder = Path("../Model")
db_file = data_folder / "database.db"

## Query 1: return the 10 most powerful superpowers
- Includes aggregated data (group by or single aggregation)

## Query 1: For a given power type, what is the distribution of powers by power level?
- Includes aggregated data (group by or single aggregation)
- Parameterized input

In [8]:
# define a function to get the histogram of power levels for a given power type
def get_power_level_histogram(for_power_type=''):
    # build and run the query
    params = (f"%{for_power_type}%",) # artist name with SQL % wildcard operators, as a tuple 
    query = """
        SELECT power_level, COUNT(power_id) as NumberOfPowers
        FROM powers
        WHERE power_type LIKE ?
        GROUP BY power_level
        ORDER BY power_level ASC
        ;
        """
    power_level_histogram = run_query(query,db_file,params)

    # add percent of total column
    total_count = power_level_histogram["NumberOfPowers"].sum()
    power_level_histogram["PercentOfTotal"] = power_level_histogram["NumberOfPowers"] / total_count

    return power_level_histogram

Execute for all power types

In [9]:
get_power_level_histogram()

   power_level  NumberOfPowers  PercentOfTotal
0            1               2        0.011976
1            2               1        0.005988
2            3               7        0.041916
3            4              61        0.365269
4            5              38        0.227545
5            6              33        0.197605
6            7              16        0.095808
7            8               7        0.041916
8            9               2        0.011976

Execute with a user input

In [11]:
# get user input
power_type = input("Enter a power type, or leave blank for all:")

# execute the function to run the query
power_level_histogram = get_power_level_histogram(power_type)

# display the results
print(f"Power levels for '{power_type}' powers:")
power_level_histogram

Power levels for 'energy' powers:

   power_level  NumberOfPowers  PercentOfTotal
0            4              20           0.500
1            5               8           0.200
2            6               5           0.125
3            7               4           0.100
4            8               2           0.050
5            9               1           0.025